.otp_input input {
     height: 2rem;
     outline: none;
     border: none;
     background-color: rgb(48, 49, 49);
     font-family: 'Inter', sans-serif;
     font-weight: bolder;
     text-align: center;
     font-size: 1rem;
     margin-bottom: .7rem;
}

.otp_input {
     width: 50%;
     margin: auto;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}

input::placeholder {
     color: rgb(145, 145, 145);
     font-size: .9rem;
}

.register-otp p {
     font-size: .8rem;
     margin-top: 1.4rem;
     width: 60%;
     line-height: 1.3rem;
     margin: 1rem auto;
     color: rgb(186, 186, 186);
     font-family: 'Inter', sans-serif;
     text-align: center;
}